<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>31131758948-jtbi18fp52ft5ua4bko2754fi202uuvm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.31131758948-jtbi18fp52ft5ua4bko2754fi202uuvm</string>
	<key>API_KEY</key>
	<string>AIzaSyB0gwl_2gGBAH97AyFZIJy354sDgLPQOTg</string>
	<key>GCM_SENDER_ID</key>
	<string>31131758948</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ayetio.imandefterim</string>
	<key>PROJECT_ID</key>
	<string>iman-defterim</string>
	<key>STORAGE_BUCKET</key>
	<string>iman-defterim.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:31131758948:ios:a9cb5fe4f67e3970ad0a71</string>
</dict>
</plist>